body{
    margin:0;
    padding:0;
    background:#eaf4ff;
    font-family:Arial, sans-serif;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    width:350px;
    background:white;
    border:2px solid #66bb6a;
    border-radius:10px;
    padding:25px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    color:#2e7d32;
    margin-bottom:10px;
}

.subtitle{
    font-size:14px;
    color:#555;
}

p{
    font-size:15px;
    margin:10px 0;
}

button{
    margin-top:15px;
    padding:10px 20px;
    background:#4CAF50;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#2e7d32;
}