*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f5ede5;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.menu{
    width:500px;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:#d35400;
    margin-bottom:25px;
    font-size:28px;
}

.section{
    margin-bottom:25px;
}

.section h2{
    color:#2c3e50;
    margin-bottom:10px;
    font-size:20px;
}

.item{
    display:flex;
    justify-content:space-between;
    padding:8px 0;
    border-bottom:1px dashed gray;
    font-size:16px;
}

.item:last-child{
    border-bottom:none;
}

.footer{
    text-align:center;
    margin-top:20px;
    color:gray;
    font-size:14px;
}