*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

/* Header */

header{
    width:100%;
    background:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

/* Top */

.top-header{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
    gap:15px;
}

/* Logo */

.logo h2{
    color:#222;
}

.logo span{
    color:#20a145;
}

/* Department Button */

.dept-btn{
    background:#20a145;
    color:#fff;
    border:none;
    padding:12px 18px;
    border-radius:5px;
    cursor:pointer;
    font-size:15px;
}

.dept-btn i{
    margin-right:8px;
}

/* Search */

.search-box{
    flex:1;
    display:flex;
}

.search-box input{
    width:100%;
    padding:11px;
    border:1px solid #ccc;
    border-right:none;
    outline:none;
}

.search-box button{
    width:50px;
    border:none;
    background:#20a145;
    color:white;
    cursor:pointer;
}

/* Location */

.location{
    border:1px solid #ccc;
    padding:10px 18px;
    border-radius:5px;
    cursor:pointer;
}

.location i{
    color:#20a145;
    margin-right:5px;
}

/* Icons */

.icons{
    display:flex;
    gap:20px;
    font-size:20px;
    cursor:pointer;
}

.icons i:hover{
    color:#20a145;
}

/* Navigation */

nav{
    border-top:1px solid #ddd;
}

nav ul{
    width:90%;
    margin:auto;
    display:flex;
    list-style:none;
    gap:30px;
    padding:15px 0;
}

nav ul li a{
    text-decoration:none;
    color:#333;
    font-size:15px;
    font-weight:600;
}

nav ul li a:hover{
    color:#20a145;
}

/* Responsive */

@media(max-width:768px){

.top-header{
    flex-direction:column;
}

.search-box{
    width:100%;
}

nav ul{
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

}